<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->

<!--    <property name="LOGS" value="./logs" />-->

<!--    <appender name="Console"-->
<!--              class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--            <Pattern>-->
<!--                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable-->
<!--            </Pattern>-->
<!--        </layout>-->
<!--    </appender>-->

<!--    <appender name="RollingFile"-->
<!--              class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${LOGS}/spring-boot-logger.log</file>-->
<!--        <encoder-->
<!--                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>-->
<!--        </encoder>-->

<!--        <rollingPolicy-->
<!--                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; rollover daily and when the file reaches 10 MegaBytes &ndash;&gt;-->
<!--            <fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log-->
<!--            </fileNamePattern>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy-->
<!--                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>10MB</maxFileSize>-->
<!--                <maxHistory>10</maxHistory>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    &lt;!&ndash; LOG everything at INFO level &ndash;&gt;-->
<!--    <root level="info">-->
<!--        <appender-ref ref="RollingFile" />-->
<!--        <appender-ref ref="Console" />-->
<!--    </root>-->

<!--    &lt;!&ndash; LOG "com.nmt*" at TRACE level &ndash;&gt;-->
<!--    <logger name="com.nmt" level="trace" additivity="false">-->
<!--        <appender-ref ref="RollingFile" />-->
<!--        <appender-ref ref="Console" />-->
<!--    </logger>-->


<!--&lt;!&ndash;    <springProfile name="dev">&ndash;&gt;-->
<!--&lt;!&ndash;        <root level="info">&ndash;&gt;-->
<!--&lt;!&ndash;            <appender-ref ref="STDOUT"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <appender-ref ref="SAVE-TO-FILE"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </root>&ndash;&gt;-->
<!--&lt;!&ndash;        <logger name="com.lankydan.service.MyServiceImpl" additivity="false" level="debug">&ndash;&gt;-->
<!--&lt;!&ndash;            <appender-ref ref="STDOUT"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <appender-ref ref="SAVE-TO-FILE"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </logger>&ndash;&gt;-->
<!--&lt;!&ndash;    </springProfile>&ndash;&gt;-->

<!--&lt;!&ndash;    <springProfile name="prod">&ndash;&gt;-->
<!--&lt;!&ndash;        <root level="info">&ndash;&gt;-->
<!--&lt;!&ndash;            <appender-ref ref="SAVE-TO-FILE"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </root>&ndash;&gt;-->
<!--&lt;!&ndash;        <logger name="com.lankydan.service.MyServiceImpl" additivity="false" level="error">&ndash;&gt;-->
<!--&lt;!&ndash;            <appender-ref ref="SAVE-TO-FILE"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </logger>&ndash;&gt;-->
<!--&lt;!&ndash;    </springProfile>&ndash;&gt;-->

<!--</configuration>-->
<!--    <property name="LOGS" value="./logs" />-->


<configuration>
    <appender name = "myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <appender name = "myFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/freelancerServer.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>logs/freelancerServer-%d{yy-MM-dd_HH-mm}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="myConsoleAppender" />
        <appender-ref ref="myFileAppender" />
    </root>


</configuration>